.postContainer {  
  height: auto;  
  width: 100%;     
  margin-bottom: 2rem;
  box-shadow: var(--darker-shadow);
  /* background: white; */
  background: var(--background);
  color: var(--color);
  border-color: black;
  border-radius: 1rem;
  overflow: hidden;
}

.postBody {
  height: auto;
}
.postHeaderSectionContainer {
  width: 100%;
}
.postMediaSectionContainer {
  width: 100%;
  height: auto;
}
.postDescriptionSectionContainer {
  width: 100%;  
}
.postActionSectionContainer {
  width: 100%;
}
.postCommentSectionContainer {
  width: 100%;
}