.feedContainer {
  height: auto;
  min-height: 100%;  
  width: 100%; 
  padding: 5vh;  
  display: flex;  
  flex-direction: column;
  align-items: center;   
  overflow: hidden;
}

.feedCreatePostContainer {
  width: 500px;
  max-width: 90%;
}

.feedPostsContainer { 
  height: auto;
  width: 500px;
  max-width: 100%;
  display: flex;
  align-items: center;  
  flex-direction: column; 
  justify-content: center;
  margin-top: 2rem;      
  margin-bottom: 2rem;      
}

