.feedContainer {
  height: auto;
  min-height: 100%;  
  width: 100%; 
  padding: 5vh;  
  display: flex;  
  flex-direction: column;
  align-items: center;   
  overflow: hidden;
  position: relative;
}

.feedCreatePostContainer {  
  width: 500px;
  max-width: 90%;
}

.feedPostsContainer { 
  height: auto;
  width: 500px;
  max-width: 100%;
  display: flex;
  align-items: center;  
  flex-direction: column; 
  justify-content: center;
  margin-top: 2rem;        
}


.loadingContianer {
  height: 100%;
  width: 100%;    
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: auto;  
}