.layout {
  height: 93vh;
  width: 100%;
}

.navContainer {
  height: 7vh;
  width: 100%;
}

.content {
  display: flex; 
}

.variableComponets {
  flex: 1; 
}

@media (max-width: 762px) {  
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}