.layout {  
  height: 100%;  
  width: 100%;  
  overflow-x: hidden;
}

.navContainer {
  height: 7vh;
  width: 100%;
}

.content {
  height: 93vh;
  display: flex;   
  flex-direction: row-reverse;
}

.sidebarContainer {  
  height: 100%;  
}
.screensContainer {
  height: auto;
  width: 100%;
}

@media (max-width: 762px) {
  
  .content {    
    display: flex;
    flex-direction: column;
  }
  .screensContainer {
    height: 83vh;
  }
  .sidebarContainer {
    height: 10vh;
  }
}