.layout {  
  height: calc(var(--vh, 1%) * 100);
  width: 100%;    
  overflow-x: hidden;
  overflow-y: hidden;
}

.navContainer {  
  /* height: calc(var(--vh, 1vh) * 7);   */
  height: calc(var(--vh, 1%) * 7);  
  height: 7%;
  width: 100%;
}

.content {  
  /* height: calc(var(--vh, 1vh) * 93); */  
  height: calc(var(--vh, 1%) * 93);  
  display: flex;   
  flex-direction: row-reverse;
}

.sidebarContainer {  
  height: 100%;  
}
.screensContainer {
  height: auto;
  width: 100%;
}

@media (max-width: 762px) {
  .content {    
    display: flex;
    flex-direction: column;
  }
  .navContainer {
    /* height: calc(var(--vh, 1vh) * 7); */
    height: calc(var(--vh, 1%) * 7);
  }
  .screensContainer {
    height: 83vh;
    /* height: calc(var(--vh, 1vh) * 83); */
    height: calc(var(--vh, 1%) * 83);
  }
  .sidebarContainer {
    /* height: calc(var(--vh, 1vh) * 10); */
    height: calc(var(--vh, 1%) * 10);
  }
}