.messagingScreenConatiner {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.chatComponentContainer {
  flex: 1;
  height: 100%;
  position: relative;
}

.chatsidebarComponentContainer {
  height: 100%;
  width: auto;
  max-width: 90%;
  transition: all .3s ease-in-out;  
}

.isOpened {
  background: white;
  z-index: 9;  
}
.isClosed {
  position: absolute;
  top: 0;
  height: 100%;
  right: -350px;  
}



@media (max-width: 1200px) {  
  .isOpened {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 762px) {
  .messagingScreenConatiner {
    height: 100%; 
  }
}