:root {
  --over: 10;  
  --shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;  
  --darker-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;  
  --inset-shadow: inset rgba(0, 0, 0, 0.3) 1px 1px 4px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;  
  --color: black;
  --background: white;
  --background: rgb(28, 28, 28);
  --color: white;
}

.profilePicture {
  height: 30px;
  width: 30px;
  margin-left: 0.3rem;  
  background-color: white;
  border-radius: 50%;  
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
}

.navContianer {
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  width: 100%;    
  color: var(--color);
  background: var(--background);
  box-shadow: rgba(9, 9, 9, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
  z-index: var(--over);  
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.logoContainer {
  max-height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer img {    
  width: 200px; 
  max-height: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1;
}


.userNav {
  max-height: 100%;
  display: flex;  
}

.menu {  
  height: 100%;
  display: flex;
  align-items: center;  
  justify-content: center;  
}

.userNavBtn {
  height: 100%;
  position: relative;  
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.25rem;
}

.userNavBtn i {
  margin-left: 0.5rem;  
  font-size: 1.8rem;
  cursor: pointer;
}

.userNavOptions {  
  right: 0.5rem;  
  top: calc(7vh + 0.5rem);
  display: flex;
  position: absolute;
  flex-direction: column;    
  color: var(--color);
  background: var(--background);
  z-index: var(--over);  
  box-shadow: var(--darker-shadow);  
}

.userNavOptions a {    
  padding: 1rem;
  width: 160px;
  max-width: 98%;
  display: flex;  
  align-items: center;  
  justify-content: space-around;  
  padding: 0.5rem 1rem;            
  user-select: none;
  z-index: var(--over);
}

.userNavOptions a:last-child {
  border: none;
}

.userNavOptions a i {
  display: flex;
  justify-content: center;
  align-items: center;   
}
.userNavOptions a h3 {
 padding: 0 0.5rem;
}

.displayNone {
  display: none;
}

.userNavNotificationContainer {  
  width: 300px;
  max-width: calc(98% - 0.5rem);
  right: 0.5rem;  
  top: calc(7vh + 0.5rem);
  display: flex;
  position: absolute;
  flex-direction: column;  
  color: var(--color);
  background: var(--background);
  z-index: var(--over);
  box-shadow: var(--darker-shadow);  
}


.notificationHeader {
  padding: 1rem;    
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px -3px;
}

.userNotificationsContainer {
  max-height: 200px;
  height: 200px;  
  overflow-y: auto;  
}

.userNotificationsContainer::-webkit-scrollbar {
  width: 7px;  
}
.userNotificationsContainer::-webkit-scrollbar-thumb {
  width: 10px;
  background: black;
  border-radius: 2rem;
}

.searchContainer {
  width: 70%;
  margin: 0 1rem;  
}
.searchContainer input {
  width: 100%;
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: var(--inset-shadow);
}

@media (min-width: 762px) {
  .searchContainer {
    /* flex: 1; */
    margin: auto;  
  }
}