.postActionsSectionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;  
  padding: 0.5rem;
  border-bottom: solid 1px;
}

.postInfoContainer {
  display: flex;
  align-items: center;
}
.openPostCommentsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;  
  flex: 1;
}
.openPostCommentsContainer i {
  margin-right: 10px;
}
.likePostContainer {
display: flex;
align-items: center;
}
.sharePostContainer {
display: flex;
align-items: center;
}

.postInfoContainer
,.likePostContainer
,.sharePostContainer i {
  padding: 0 0.2rem;
  font-size: 1.5rem;
}
.likesTooltipContiner {
  position: relative;
}
.likesTooltipContiner:hover .likesTooltip {
  visibility: visible;
}
.likesTooltip { 
  position: absolute;
  height: auto;
  width: 300px;
  overflow-y: auto;  
  left: -11px;
  transform: translateY(calc(-100% + -55px));
  padding: 2rem 1rem;
  background: var(--background);
  color: var(--color);
  visibility: hidden;
}