:root {
  --border: solid 1px;  
}

.sidebarContianer {  
  height: 100%;    
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  background: var(--background);
  color: var(--color);    
  border: none;
  box-shadow: var(--shadow);
  z-index: 9;
}

.sidebarTab {
  width: 100%;
  display: flex;
  align-items: center;      
  transition: ease 200ms all;
}

.sidebarTab:hover {
  backdrop-filter: brightness(200%);
}
.active {
  backdrop-filter: brightness(200%);
}

.tabIcon {  
  height: 10vh;   
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.tabLabel {
  height: 10vh;   
  width: 160px;
  display: flex;
  align-items: center;  
  justify-content: start;  
  transition: all 200ms ease;
}

.closeSidebarLabel {
  animation-name: closeLabel linear 1s;
  width: 0px;  
  visibility: hidden;
  overflow: hidden;
}

@keyframes closeLabel {
  from {
    display: flex;
  }
  to {  
    display: none;
  }
}

.handleSidebarIcon {
  height: 10vh;   
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-top: var(--border); 
}

.handleSidebarIcon i {
  transition: 500ms ease;
}

.handleSidebarIcon:hover .goRight {
  transform: rotate(180deg);
}
.handleSidebarIcon:hover .goLeft {
  transform: rotate(-180deg);
}



@media (max-width: 762px) {
  .sidebarContianer {
    width: 100%;
    height: auto;
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
  }
  .mobile {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .mobile .tabIcon {
    width: 100%;     
  }

  .handleSidebarIcon {
    display: none;
  }
  .mobile .tabLabel {
    display: none !important;
  }
}