.profileScreenContainer {  
  height: 100%;  
  flex: 1;
  display: flex; 
  flex-direction: column; 
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;    
  background: rgb(245, 245, 255);  
}

.profileScreenContainer::-webkit-scrollbar {
  width: 5px;
  background: white;
}
.profileScreenContainer::-webkit-scrollbar-thumb {  
  background: black;
  border-radius: 1rem;
}

/* Part two */
.profileContent {      
  height: calc(var(--vh, 1%) * 60);
  max-width: 100%;   
  width: 100%;    
}

.responsive {
 flex: 1;
}