.chatSidebarContainer {
  max-width: 350px;
  width: 350px;
  height: 100%;  
}

.chatSidebarSearch {
  /* height: 10vh; */
  height: 10%;
  width: 100%;
  background: rgb(23,23,23);
  color: white;
  padding: 0.5rem;
}

.chatSidebarSearch input {
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
}


.chatSidebarUsers {  
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;  
  overflow-y: auto;  
  box-shadow: var(--shadow);
}

.chatSidebarUsers::-webkit-scrollbar {
  width: 5px;
  background: white;
}
.chatSidebarUsers::-webkit-scrollbar-thumb {  
  background: black;
  border-radius: 1rem;
}

@media (max-width: 762px) {
  .chatSidebarContainer {
     /* padding-bottom: 10vh; */
  }
}