.notFoundContainer {
  height: 100%;
  width: 100%;
  max-width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 240, 255);
}

.errorContent {
  height: 300px;  
  width: 600px;
  max-height: 90%;
  max-width: 95%;  
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: white;
  border: solid 3px;
  border-color: var(--background); */
}

.statusCode h1 {
  font-size: 10vh;  
}

.line {position: relative;}
.line::after {
  position: absolute;
  content: "|";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(70deg);
  color: red;
  /* right: 0; */
  /* top: 50%; */
  /* border-top: 5px solid red;   */

  /* -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg); */
  /* transform:rotate(-5deg); */
}

.message {
  justify-content: center;
  width: 95%;
  margin: 0 auto;  
}
.message h2 {
  text-align: start;
  width: 90%;
  margin: 0 auto;
}
.message h2:after {
  content: '|';
  color: transparent;
  visibility: hidden;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;  
  padding: 0 1rem;
}

.options a {
  border: solid 3px;
  padding: 0.5rem 0.8rem;
  width: 45%;
  font-weight: bold;
  background: var(--background);
  color: var(--color);
  transition: all 100ms ease-in;
}
.options a:hover {  
  background: var(--color);
  color: var(--background);
  border-color: var(--background);
}