.createPostContainer {
  width: 100%;      
}

.openFormIcon {
  width: 100%;  
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;  
  box-shadow: var(--darker-shadow);
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background: var(--background);
}

.formContainer {
  height: 90%;
  width: 600px;
  max-width: 90%;
  background: white;  
  border-color: rgb(23, 22, 22);
  box-shadow: var(--darker-shadow);
  border-radius: 1rem;  
}

.createPostHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 10%;  
  padding: 0rem 1rem;
  padding-right: 0;
  border-bottom: solid 1px;  
}
.createPostHeader i {
  font-size: 1.25rem;  
  cursor: pointer;
}
.spacer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postBtnContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-left: solid 1px;
  color: var(--color);
  background: var(--background);
  border-top-right-radius: 1rem;
}
.postBtn {  
  padding: 1rem;    
  cursor: pointer;
}

/* Second part */
.createPostForm {
  height: 90%;    
  padding: 1rem;
}

.firstPart {
  max-height: 50%; 
  height: 100%;  
}

.fieldGroup {
  width: 100%;
  display: flex;
  flex-direction: column;  
  margin-top: 1rem;
}

.fieldGroup input, textarea {  
  padding: 1rem 0.5rem;  
}
.fieldGroup textarea {
  resize: none;
  height: 50%;
}

.secondPart {
  height: 50%;  
}

.mediaGroup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;  
  text-align: center;  
}

.secondPartlabel {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  height: 15%;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.media {  
  height: 100%;
}

@media (max-width: 762px) {
  .createPostContainer {
    height: 60%;
  }
}