.viewPostContainer {
  height: 90%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.infoContainer,
.mediaContainer {
  height: 100%;
}

.infoContainer {
  width: 40%;
}

.mediaContainer {
  /* width: 65%;   */
  flex: 1;
}

/* Info Container */
.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--color);
}
/* UserInfo */
.userInfo {
  height: 10%;
  width: 100%;
  border-bottom: solid 1px;
  display: flex;
  flex-direction: row;
}
.userProfileImgContainer {
  height: 100%;
  width: 15%;
  border-right: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userProfileImg {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  aspect-ratio: 6vh/6vh;
}
.userProfileImg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.userName {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5vh;
  font-size: 2.5vh;
  text-transform: capitalize;
}
.deletePostIconContainer {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* postAndCommentsInfoContainer */

.postAndCommentsInfoContainer {
  height: 85%;
  width: 100%;
  overflow: auto;
}

/* PostInfo */
.postInfo {
  height: 50%;
  width: 100%;
  border-bottom: solid 1px;
  display: flex;
  flex-direction: column;
}
/* postDescription */
.postDescription {
  padding: 2vh;
  border-bottom: solid 1px;
  max-height: 70%;
  height: 70%;
  width: 100%;
}
.postDescription h3 {
  max-width: 100%;
  max-height: 30%;
  overflow-x: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postDescription p {
  max-width: 100%;
  max-height: 70%;
  overflow-y: auto;
  word-wrap: wrap;
  word-break: break-all;
  display: block;
  padding-right: 5px;
}
.postDescription p::-webkit-scrollbar {
  width: 5px;
}
.postDescription p::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1rem;
}
/* postActions */
.postActions {
  height: 30%;
  max-height: 30%;
  width: 100%;
  border-bottom: solid 1px;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postActions div {
  font-size: 2.5vh;
}
/* CommnetsInfo */
.commentsInfo {
  height: 30%;
  width: 100%;
}

/* Media Contianer */

.mediaContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mediaContainer img {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  object-fit: contain;
}

.mediaContainer i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2vh;
  font-size: 4vh;
  cursor: pointer;
  color: var(--color);
}

@media (max-width: 900px) {
  .viewPostContainer {
    flex-direction: column-reverse;
  }
  .infoContainer,
  .mediaContainer {
    height: 50%;
    width: 100%;
  }
  /* Info Container */
  .infoContainer {
    max-height: 50%;
  }

  /* UserInfo */
  .userInfo {
    min-height: 60px;
  }

  /* Post Info */

  .postInfo {
    min-height: 200px;
  }

  /* CommentSection Info */

  .commentsInfo {
    min-height: 100px;
  }

  /* Media Container */
  .mediaContainer {
    border: none;
    border-bottom: solid 3px;
  }
}
